.container div{
    display:inline-block;
}

.container div:nth-child(2n){
    border-color: red;


}

.container div:nth-of-type(odd) span:nth-of-type(even){
    color: green;
}    

.container div:nth-last-of-type(9) :nth-last-of-type(1){
    color:blue;
}
.container div:nth-last-of-type(5) :not(:nth-last-of-type(1)){
    color:yellow;
}

.container{
    position: relative;
}       

span:first-of-type{
position:absolute;
top: 100%;
padding-left: 2%;
}

span:nth-child(2){
    position: absolute;
    bottom: 100%;
    padding-left: 2%;
}

.container div:nth-child(1) span:last-of-type{
    position:absolute;
    right: 100%;
    top: 50%;
    padding-right: 5px;
}

.container{
    font-size: 0;
}

.container div{
    font-size: 1rem;
}
       